body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

.container {
    background-color: #E0E0E0;
    margin: 0 auto;
    
}

.header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 20px;
    background-color: #ffffff;
    padding: 5px 25px;    
    height: 50px;
}

.header h1 {
    margin: 0;
    font-size: 25px;
}

.header .favorites {
    display: flex;
    align-items: center;
}

.favorites span {
    margin-right: 5px;
}

#heart-icon{
    color: rgb(175, 175, 175);
    font-size: 60px;
    position: relative;
}

.favorites span#fav-count::after {
    /* content: attr(data-count);
    position: absolute;
    top: 20px;
    right: 109px;
    border-radius: 50%;
    padding: 2px 5px;
    font-size: 15px; */
    display: none;
}

#fav-count{
    content: attr(data-count);
    position: absolute;
    top: 20px;
    right: 99px;
    border-radius: 50%;
    padding: 2px 5px;
    font-size: 15px;
}

.page-information{
    padding: 100px 25px 40px 25px;
}

#reset-btn{
    position: absolute;
    top: 100px;
    right: 25px;
}

.gallery {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    gap: 20px;
}

.card {
    border: 1px solid #ccc;
    border-radius: 5px;
    overflow: hidden;
    position: relative;
}

.card img {
    width: 100%;
    height: auto;
}

.favorite-btn {
    position: absolute;
        top: 10px;
        right: 10px;
        background-color: transparent;
        border: none;
        cursor: pointer;
        outline: none;
}

.counter {
    text-align: center;
}

.info {
    padding: 10px;
}

.info h2 {
    margin-top: 0;
}